.vscode/
mult-ftp/build/
components/boardinfo/example/build/
components/cmdline/example/build/
components/dirtraval/example/build/
components/threadpool/example/build/
components/transmission/base/tcp/client/example/build
components/transmission/base/tcp/server/example/build
components/transmission/base/udp/example/build
components/logger/example/build
components/event/example/build
components/ipc/pqueue/example/build
test/memory/build
test/disk/build

common/module.o
components/boardinfo/*.o
components/boardinfo/example/*.o
components/boardinfo/lib
components/cmdline/*.o
components/cmdline/example/*.o
components/cmdline/lib
components/transmission/*.o
components/transmission/example/*.o
components/transmission/lib
components/dirtraval/*.o
components/dirtraval/example/*.o
components/dirtraval/lib
components/structure/*.o
components/structure/example/*.o
components/structure/lib
components/threadpool/*.o
components/threadpool/example/*.o
components/threadpool/lib
components/transmission/base/tcp/client/example/*.o
components/transmission/base/tcp/client/*.o
components/transmission/base/tcp/client/lib
components/transmission/base/tcp/server/example/*.o
components/transmission/base/tcp/server/*.o
components/transmission/base/tcp/server/lib
components/transmission/base/udp/example/*.o
components/transmission/base/udp/*.o
components/logger/*.o
components/logger/example/*.o
components/event/*.o
components/event/example/*.o
components/ipc/pqueue/*.o
components/ipc/pqueue/example/*.o

test/memory/*.o
test/disk/*.o
